<div class="row">
        <div class="col-sm">
                <table border="1">
                        <tr>
                            <th>Pair</th><th>Trend Direction</th>
                            <th>Lots</th>
                            <th>Last Open Buy</th>
                            <th>Last Open Sell</th>
                            <th>Closest Buy</th>
                            <th>Closest Sell</th>
                            <th>Open Order</th>
                            <th>Open Future Position</th></tr>
                 {% for item in open_positions | sort(false, true, 'pair')  %}
                 <tr>
                        <td>{{ item.pair }}</td>
                        <td>
                                        {{ item.bias }}
                        </td>
                        <td>
                                <font color="green">BUY({{ item.lotsBuy }})</font>
                                --
                                <font color="red">SELL({{ item.lotsSell }})</font>
                        </td>
                        <td>
                                {% if item.lastBuy_pips < 0 %}
                                <font color="red">{{ item.lastBuy_pips | round(5)}}</font>
                                {% else %}
                                <font color="green">{{ item.lastBuy_pips | round(5) }}</font>
                                {% endif %}
                                -- L({{ item.lastBuy_lots}}) 
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/close?tradeId={{ item.lastBuy_tradeId }}">X</a>
                        </td>
                        <td>
                                {% if item.lastSell_pips < 0 %}
                                <font color="red">{{ item.lastSell_pips | round(5)}}</font>
                                {% else %}
                                <font color="green">{{ item.lastSell_pips | round(5) }}</font>
                                {% endif %}
                                -- L({{ item.lastSell_lots}})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/close?tradeId={{ item.lastSell_tradeId }}">X</a>
                        </td>
                        <td>
                                {% if item.closeBuy_pips < 0 %}
                                <font color="red">{{ item.closeBuy_pips | round(5)}}</font>
                                {% else %}
                                <font color="green">{{ item.closeBuy_pips | round(5) }}</font>
                                {% endif %}
                                -- L({{ item.closeBuy_lots}})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/close?tradeId={{ item.closeBuy_tradeId }}">X</a>
                        </td>
                        <td>
                                {% if item.closeSell_pips < 0 %}
                                <font color="red">{{ item.closeSell_pips | round(5)}}</font>
                                {% else %}
                                <font color="green">{{ item.closeSell_pips | round(5) }}</font>
                                {% endif %}
                                -- L({{ item.closeSell_lots}})
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/close?tradeId={{ item.lastSell_tradeId }}">X</a>
                        </td>
                        <td>
                         <a link="/open?pair={{ item.pair }}&type=1" >BUY</a> <br>
                         <a link="/open?pair={{ item.pair }}&type=0" >SELL</a> <br>
                        </td>
                        <td>
                                <a link="/openFuture?pair={{ item.pair }}&type=1" >Future BUY</a> <br>
                                <a link="/openFuture?pair={{ item.pair }}&type=0" >Future SELL</a> <br>
                        </td>
                </tr>
                {% endfor %}
                </table>
        </div>
</div>